body {
    font-family: Arial, sans-serif;
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}
h2 {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}
.col {
    flex: 1;
    min-width: 150px;
}
.form-control {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
#descripcion{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;

}
.button-container {
    text-align: center;
    padding-top: 20px
}
button {
    background-color: #1aab8a;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 40%;
}
button:hover {
    background-color: #218838;
}
@media (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}